[submodule "llama.cpp"]
	path = llama.cpp
	url = https://github.com/jklincn/llama.cpp.git
[submodule "tests/utils/pcm"]
	path = tests/utils/pcm
	url = https://github.com/intel/pcm.git
[submodule "tests/utils/stream"]
	path = tests/utils/stream
	url = https://github.com/jeffhammond/STREAM.git
[submodule "tests/utils/nvbandwidth"]
	path = tests/utils/nvbandwidth
	url = https://github.com/NVIDIA/nvbandwidth.git
