[submodule "llama.cpp"]
	path = llama.cpp
	url = https://github.com/jklincn/llama.cpp.git
[submodule "tests/eval/opencompass"]
	path = tests/eval/opencompass
	url = https://github.com/open-compass/opencompass.git
